::ng-deep {
  .modal-backdrop {
    position: fixed;
    top: 64px;
    right: 0;
    bottom: 0;
    left: 50%;
    z-index: 1040;
    background-color: #000;
    transition: opacity 0.15s linear;

    @media (max-width: 991px) {
      left: 0;
    }

    // Fade for backdrop
    &.fade {
      opacity: 0;
    }

    &.show {
      opacity: 0.5;
    }
  }

  .modal-open {
    overflow: hidden;

    .modal {
      overflow-x: hidden;
      overflow-y: auto;
    }
  }
}
