<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header px-4">
      <h5 class="modal-title" id="settingsModalTitle">Settings</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body px-4">
      <h6>Mode</h6>
      <div class="form-group">
        <div class="custom-control custom-radio mb-3">
          <input
            type="radio"
            id="paginated"
            name="mode"
            [checked]="collector.mode === 'paginated'"
            (change)="collector.set('mode', 'paginated')"
            class="custom-control-input"
            aria-describedby="paginated_explanation"
          />
          <label for="paginated" class="custom-control-label">
            Paginated
            <small class="form-text text-secondary" id="paginated_explanation">
              Blocks are presented page for page and the user navigates through the pages using the next and back buttons.
            </small>
          </label>
        </div>
        <div class="custom-control custom-radio mb-3">
          <input
            type="radio"
            id="continuous"
            name="mode"
            [checked]="collector.mode === 'continuous'"
            (change)="collector.set('mode', 'continuous')"
            class="custom-control-input"
            aria-describedby="continuous_explanation"
          />
          <label for="continuous" class="custom-control-label">
            Continuous
            <small class="form-text text-secondary" id="continuous_explanation">
              This will keep all past blocks in view as the user navigates using the next and back buttons.
            </small>
          </label>
        </div>
        <div class="custom-control custom-radio mb-3">
          <input
            type="radio"
            id="progressive"
            name="mode"
            [checked]="collector.mode === 'progressive'"
            (change)="collector.set('mode', 'progressive')"
            class="custom-control-input"
            aria-describedby="progressive_explanation"
          />
          <label for="progressive" class="custom-control-label">
            Progressive
            <small class="form-text text-secondary" id="progressive_explanation">
              In this mode all possible blocks are presented to the user. The user does not need to navigate using the next and back buttons
              (so we can hide those buttons).
            </small>
          </label>
        </div>
        <hr />
        <h6>Display</h6>
        <div class="form-group">
          <div class="custom-control custom-checkbox">
            <input
              id="numerators"
              type="checkbox"
              [checked]="collector.numerators"
              (change)="collector.set('numerators', !collector.numerators)"
              class="custom-control-input"
              aria-describedby="numerators_explanation"
            />
            <label for="numerators" class="custom-control-label">
              Numerators <small class="form-text text-secondary" id="numerators_explanation"> Shows numbers in labels. </small>
            </label>
          </div>
        </div>
        <div class="form-group">
          <div class="custom-control custom-checkbox">
            <input
              id="pages"
              type="checkbox"
              [checked]="collector.pages"
              (change)="collector.set('pages', !collector.pages)"
              class="custom-control-input"
              aria-describedby="pages_explanation"
            />
            <label for="pages" class="custom-control-label">
              Pages <small class="form-text text-secondary" id="pages_explanation"> Shows pages-index in paginated mode. </small>
            </label>
          </div>
        </div>
        <div class="form-group">
          <div class="custom-control custom-checkbox">
            <input
              id="buttons-sticky"
              type="checkbox"
              [checked]="collector.buttons === 'sticky'"
              (change)="collector.set('buttons', collector.buttons === 'sticky' ? 'inline' : 'sticky')"
              class="custom-control-input"
              aria-describedby="buttons-sticky_explanation"
            />
            <label for="buttons-sticky" class="custom-control-label">
              Sticky buttons
              <small class="form-text text-secondary" id="buttons-sticky_explanation">
                Shows buttons sticky to bottom of the collector-window.
              </small>
            </label>
          </div>
        </div>
        <div class="form-group">
          <div class="custom-control custom-checkbox">
            <input
              id="progressbar"
              type="checkbox"
              [checked]="collector.progressbar"
              (change)="collector.set('progressbar', !collector.progressbar)"
              class="custom-control-input"
              aria-describedby="progressbar_explanation"
            />
            <label for="progressbar" class="custom-control-label">
              Progressbar <small class="form-text text-secondary" id="progressbar_explanation"> Shows progressbar. </small>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
