<div class="form-group">
    <label *ngIf="props.name">{{props.name}}
        <span *ngIf="props.data.Slot.Required" style="color: red;">*</span>
    </label>
    <p *ngIf="props.description">{{props.description}}</p>
    <div class="input-group">
        <span class="input-group-addon">#</span>
        <input #number type="number" class="form-control" [(ngModel)]="props.data.Value" (focus)="number.value=props.data.Value" (blur)="number.value=props.data.String" placeholder="{{props.placeholder}}" />
    </div>
    <span *ngIf="props.explanation" class="help-block">{{props.explanation}}</span>
</div>
