<div class="form-group">
  <label
    *ngIf="name"
    [for]="block.key()"
    markdown
    [content]="name"
    [context]="context"
    [enumerator]="enumerator"
    [required]="block.required"
  ></label>
  <p *ngIf="description" class="text-secondary" markdown [content]="description" [context]="context"></p>
  <div class="input-group">
    <div class="input-group-prepend"><span class="input-group-text">@</span></div>
    <input
      #email
      type="email"
      class="form-control"
      [id]="block.key()"
      [required]="block.required"
      [placeholder]="placeholder"
      [attr.aria-describedby]="explanation && block.key('explanation')"
      [(ngModel)]="block.emailAddress"
      (focus)="block.onFocus(email)"
      (blur)="block.onBlur(email)"
    />
  </div>
  <small
    *ngIf="explanation"
    class="form-text text-secondary"
    [id]="block.key('explanation')"
    markdown
    [content]="explanation"
    [context]="context"
  ></small>
</div>
