<div class="form-group">
    <label *ngIf="props.name">{{props.name}}
        <span *ngIf="props.slot.Required" class="text-danger">*</span>
    </label>
    <p *ngIf="props.description">{{props.description}}</p>
    <input #text type="text" class="form-control" [(ngModel)]="props.data.Value" (focus)="text.value=props.data.Value" (blur)="text.value=props.data.String" placeholder="{{props.placeholder}}" />
    <span *ngIf="props.explanation" class="help-block">{{props.explanation}}</span>
</div>
