<section *ngIf="collector" class="container" style="padding-top: 70px; padding-bottom: 70px;">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header navbar-brand" *ngIf="collector.Ontology">
         {{collector.Ontology.Name}}
      </div>
      <div class="btn-group navbar-btn navbar-right" role="group">
        <button type="button" class="btn btn-default" [disabled]="!collector.IsStopped && !collector.IsEnded" (click)="clickStart()">
          Start
        </button>
        <button type="button" class="btn btn-default" [disabled]="!collector.IsRunning" (click)="clickPause()">
          Pause
        </button>
        <button type="button" class="btn btn-default" [disabled]="!collector.IsPaused || !resumeData" (click)="clickResume()">
          Resume
        </button>
        <button type="button" class="btn btn-default" [disabled]="!collector.IsRunning" (click)="clickStop()">
          Stop
        </button>
      </div>
    </div>
  </nav>

  <section>
    <!-- Form -->
    <app-collector-wrapper *ngFor="let node of collector.Nodes" [node]="node"></app-collector-wrapper>

    <!-- Form completed -->
    <div *ngIf="collector.IsEnded">
      <h3>Form completed!</h3>
      <p class="text-info">
        Open the developer console to see the collected data.
      </p>
    </div>

    <!-- Form stopped -->
    <div *ngIf="collector.IsStopped">
      <h3>Form is stopped!</h3>
      <p class="text-info">
        Click
        <b>Start</b> to start a new session.
      </p>
    </div>

    <!-- Form paused -->
    <div *ngIf="collector.IsPaused">
      <h3>Form paused!</h3>
      <p class="text-info">
        Click
        <b>Resume</b> to resume it. Open the developer console to see the resume data.
      </p>
    </div>

    <!-- Footer -->
    <nav *ngIf="collector.IsRunning"  class="navbar navbar-default navbar-fixed-bottom">
      <div class="container">
        <div class="btn-toolbar" role="toolbar" style="margin-top: 20px">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" [disabled]="!collector.Instance.Steps" (click)="clickPrevious()">
              Back
            </button>
          </div>
          <div class="btn-group" role="group">
            <button *ngIf="!collector.Instance.IsAtEnd" type="button" class="btn btn-primary" [disabled]="collector.IsValidationFailed"
              (click)="clickNext()">
              Next
            </button>
            <button *ngIf="collector.Instance.IsAtEnd" type="button" class="btn btn-success" [disabled]="collector.IsValidationFailed"
              (click)="clickNext()">
              Complete
            </button>
          </div>
        </div>
        <div class="progress" style="margin-top: 20px">
          <div class="progress-bar" role="progressbar" [attr.aria-valuenow]="collector.ProgressPercentage" aria-valuemin="0" aria-valuemax="100"
            [ngStyle]="{ 'width': collector.ProgressPercentage + '%', 'min-width': '2em' }">
            {{collector.ProgressPercentage}}%
          </div>
        </div>
      </div>
    </nav>
  </section>
</section>
