<div class="form-group">
    <label *ngIf="props.name">{{props.name}}
        <span *ngIf="props.data.Slot.Required" class="text-danger">*</span>
    </label>
    <p *ngIf="props.description">{{props.description}}</p>
    <div class="input-group">
        <span class="input-group-addon">@</span>
        <input #email type="email" class="form-control" [(ngModel)]="props.data.Value" (focus)="email.value=props.data.Value" (blur)="email.value=props.data.String"
        placeholder="{{props.placeholder}}" />
    </div>
    <span *ngIf="props.explanation" class="help-block">{{props.explanation}}</span>
</div>
